@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.wrapperHangar1 {
  display: flex;
  grid-gap: 1rem;
  max-width: 600px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none; /* for firefox */
  margin: 0 auto;
  margin-top: 1em;
}

.wrapperHangar1::-webkit-scrollbar { /* for chrome */
  display: none;
}

.sliderHangar1 {
  cursor: pointer;
  min-width: calc(18% - .5rem);
  aspect-ratio: 1 / 1;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.5rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
  
}

.instrucciones{
  background: #000;
}



.hotHatches{
    background: #fff;

}

.iconoHangar1{
    width: 100%;
    background: #a6a4a5;
}

.iconoHangar1:hover{
  width: 100%;
  background: #fff;
}

.interaccionSlider{
  display:flex;
  flex-direction: column;
}

.sliderInformacionContenedor{
  padding: 4em;
  width: 100%;
}

/* Estilos de la imangen
 */
.imagenHangar1{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.informacion{
  width: 50%;
  padding: 2em;
  color: #fff;
}


.contenedorImagenSlider{
  width: 50%;
  padding: 2em;   
}


.contenedorImagenSlider img{
  width: 100%;
  pointer-events: none;
}

.textoHangar1 p{
  height: auto;
  word-wrap: break-word;
  text-justify: inter-word;

}

 /* Seccion de modificacion de contenido del boton */

.buttomContainerSlider{
  width:100%;
  display: flex;
  padding: 2em;
justify-content: left;
}

 /* Cambio de Tamaño, de color, alto y ancho  */
.botonSlider {
  margin-top: 1em;
  cursor: pointer;
  width: 20vh;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: #E51E52; /* Color primario aplicado directamente */
  border: 2px solid #E51E52; /* Color del borde aplicado directamente */
  border-radius: .75rem;
  box-shadow: 0 8px 0 #000; /* Color del borde aplicado a la sombra */
  transform: skew(-10deg);
  transition: all .1s ease;
  text-decoration: none;
  font-size: 15px;
}

.botonSlider:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 #654dff63; /* Color de la sombra aplicado en el estado activo */
}

@media only screen and (max-width: 750px) {
  .sliderInformacionContenedor{
    width: 100%;
    padding: 0.2em;
  }
  .imagenHangar1 {
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
  }

  .sliderHangar1 {
    min-width: calc(25% - .5rem);

  }

  .contenedorImagenSlider{
    
    width: 90%;
    padding: 0.4em;

  }
  .contenedorImagenSlider img{
    width: 100%;
    padding: 0;
    
  }
  .informacion{
    width: 100%;
  }

  .wrapperHangar1{
    max-width: 768px;
  }
  .instrucciones{
    font-size: 0.4em;
  }

  .textoHangar1 p{
    font-size:9px;
   
   }
}
